@import "tailwindcss";

@theme {
  --color-brand-50: #f0f9ff;
  --color-brand-100: #e0f2fe;
  --color-brand-500: #0ea5e9;
  --color-brand-600: #0284c7;
  --color-brand-900: #0c4a6e;

  --font-sans: Inter, system-ui, sans-serif;
}

body {
  @apply bg-gray-50 text-gray-900 font-sans antialiased;
}

h1,
h2,
h3,
h4 {
  @apply tracking-tight font-bold text-gray-900;
}