services:
  db:
    image: postgres:15-alpine
    container_name: self-management-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: self_management
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
